.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #282c34;
    padding: 10px 20px;
    color: white;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.navLinks {
    display: flex;
    gap: 15px;
    list-style: none;
}

.navLinks li a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s;
}

.navLinks li a:hover {
    color: #61dafb;
}
